*{
    box-sizing: border-box;
}

body{
    style: flex;
    flex-direction: column;
    margin:0;
    font-family: sans-serif;
    
}

.hero{
    background-color: #1F2937;
    padding: 50px 150px 150px 150px;
}

.title{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}



.head{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    height: 72px;
    
}

.headmid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 20px;
    
}


.headleft{
    display: flex;
    flex-direction: column;
    flex:1;
}

.headright{
    display: flex;
    flex:1;
    justify-content: flex-start;
}

.firsttext{
    font-size: 18px;
    color: #E5E7EB;
    
}


ul{
    display: flex;
    margin:0;
    padding:0;
    list-style-type: none;
    gap: 30px;
    
}

.firstimage, .secondimage{
width:100%;
}

button{
    
    height:35px;
    width:20%;
    background-color: #3882F6;
    color: white;
    margin-top: auto;
    border-radius: 10px;
    
  
}

.rando{
    text-align: center;
}

.randocontent{
    display:flex;
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
    

}

.cards{
    max-width: 300px;
}

.titletwo{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding:50px 0;
}

.secondimage{
    border-radius: 10px;
    border-style:solid;
    border-color:  #3882F6;

}

